<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="container-fluid">
    <br>
    <div class="row">
        <div class="col-2">
            <div class="row">
                <h1 class="text-blue" style="margin-left: 2%">{{title}}</h1>
            </div>
            <div class="row">
                <app-tab-nav (changedMenu)="selectedMenuInMain=$event" [selectedMenu]="selectedMenuInMain"></app-tab-nav>
            </div>
        </div>
        <!--Maps and Notifications -->
        <div class="col-10" [hidden]="selectedMenuInMain !== 2">
            <app-map (accidentDetected)="MapAccident($event)"></app-map>
        </div>
        <div class="col-10" *ngIf="selectedMenuInMain === 0">
            <div class="row" style="text-align: center">
                <div class="col-8  bg-primary">
                    <h2 class="">QR-Code for this car</h2>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-8">
                    <qrcode class="qr-block" [qrdata]="carId" [size]="384" [level]="'M'"></qrcode>
                </div>
                <div class="col-3">
                    <div class="jumbotron">
                        <h1>Please scan it with our app to add your medical data!</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10" *ngIf="selectedMenuInMain == 1">
            <div class="row" style="text-align: center">
                <div class="col-10  bg-primary">
                    <h2>Medical Users Added to this car</h2>
                </div>
            </div>
            <br>
            <div class="row">
                <button type="button" class="btn" (click)="refreshUsers()">Refresh</button>
            </div>
            <div class="row" *ngFor="let medicalUser of medicalUsersAdded">
                <div class="col-10">
                    <div class="alert alert-primary" role="alert">
                        <h3>Some accident was detected!</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10" *ngIf="selectedMenuInMain == 3">
            <div class="row" style="text-align: center">
                <div class="col-10  bg-primary">
                    <h2>Car Status</h2>
                </div>
            </div>
            <br>
            <div class="row" *ngIf="accidentFlag == 0">
                <div class="col-10 ">
                    <div class="alert alert-success" role="alert">
                        <h3>Everything is working great!</h3>
                    </div>
                </div>
            </div>
            <br>
            <div class="row" *ngIf="accidentFlag != 0">
                <div class="col-10">
                    <div class="alert alert-danger" role="alert">
                        <h3>Some accident was detected!</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>