.text-blue {
    font-family: sans-serif;
    color: #333;
}

.qr-block {
    display: inline-block;
}

.text-navy {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    color: darkblue;
}

awesome-div {
    align-items: center;
    display: flex;
    justify-content: center;
}